__pycache__/
*.py[cod]
*$py. class
*.so
.Python
env/
venv/
. venv
*. egg-info/
dist/
build/

datasets/minimagenet/
datasets/cifar_fs/
datasets/synthetic_curriculum/

outputs
*. ckpt
*.pth

.ipynb_checkpoints/
*. swp
*.swo

.DS_Store
.vscode/
.idea/

wandb/
mlruns/